.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  background: #ffffff;
  border: 2px solid rgb(130, 95, 95);
  border-radius: 5px;
  right: -5px;
  width: 100px;
  padding: 10px 10px;
  gap: 5px;
  transform: scaleY(0);
  transform-origin: top;
  a {
    background: #dfd3d3;
    border-radius: 7px;
    padding: 3px 8px;
    font-weight: 600;
    font-size: 15px;
  }
}

.active {
  transform: scaleY(1);
  transition: 0.1s cubic-bezier(0.55, 0.86, 0.95, 0.99);
}