header {
  width: 100%;
  background: #817f7a;
  .header-content {
    margin: 0 auto;
    flex: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0.8rem 2rem;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    color: white;
    border-bottom: 0.2rem solid rgb(14, 15, 65);
    z-index: 1;
    .portfolio-name {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 2rem;
      font-weight: 600;
      cursor: default;
      word-spacing: 0.2rem;
      .headshot {
        width: 50px;
        height: 50px;
        border-radius: 2rem;
      }
    }
    .right-header {
      display: flex;
      .header-links {
        display: flex;
        align-items: center;
        gap: 30px;
      }
      a {
        font-size: 0.9em;
        font-weight: 600;
        color: white;
        &:hover {
          color: #ffb4b4;
        }
      }
    }
    @media (max-width: 350px) {
      .portfolio-name {
        font-size: 1rem;
      }
    }
  }
}
