.dropdown-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .dropdown-button {
    position: relative;
    top: 0.2rem;
    background: none;
    border: none;
    color: white;
    position: relative;
    .list-button {
      border-radius: 20px;
      &:hover {
        cursor: pointer;
        color: #ffb4b4;
      }
    }
    .hovered-button {
      transform: scale(1.1);
      transition: 0.1s ease-in;
    }
  }
}
