.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  background: #ffffff;
  border: 2px solid rgb(130, 95, 95);
  border-radius: 5px;
  right: -5px;
  width: fit-content;
  padding: 10px 10px;
  gap: 5px;
  transform: scaleY(0);
  transform-origin: top;
}
.sm-link {
  display: flex;
  align-items: center;
  gap: 0.3em;
  padding: 0.2em 0.3em;
  border-radius: 0.5em;
  border: 1px solid rgb(216, 216, 216);
  background: rgb(240, 240, 240);
  font-size: 0.8em !important;
  width: 100%;
  min-width: 100px;
  &:hover {
    background: #bfbfbf;
    color: white;
    font-weight: 600;
  }
}

.active {
  transform: scaleY(1);
  transition: 0.1s cubic-bezier(0.55, 0.86, 0.95, 0.99);
}
