.dropdown-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  span {
    position: relative;
    .list-button {
      border-radius: 20px;
      height: 30px;
      width: 30px;
      &:hover {
        cursor: pointer;
      }
    }
    .hovered-button {
      transform: scale(1.1);
      transition: 0.2s ease-in;
    }
  }
}
