.projects-list {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  background: rgb(235, 239, 242);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 2rem 3rem;
  gap: 4rem;
  &::-webkit-scrollbar {
    height: 12px;
    background: #c98b17;
    border-radius: 0.5em;
    -webkit-overflow-scrolling: touch;
  }
  &::-webkit-scrollbar-track {
    border-radius: 0.5em;
  }
  &::-webkit-scrollbar-thumb {
    background: #ffb62f;
    border-radius: 0.5em;
  }
  @media (max-width: 550px) {
    flex-wrap: wrap;
  }
}
