.project {
  max-width: 200px;
  h2 {
    color: #1c56ad;
    text-decoration: underline;
    margin-bottom: 1em;
  }
  img {
    border: 1px solid rgb(202, 202, 202);
    border-radius: 15px;
    height: 200px;
    width: 200px;
    margin-bottom: 0.5em;
  }
  .img-hovered-effect {
    box-shadow: 2px 2px 8px rgb(179, 178, 178);
    transform: scale(1.01);
    transition: 0.1s ease-in;
  }
  .text-hovered-effect {
    color: #06295c;
    transform: scale(1.01);
    transition: 0.1s ease-in;
  }
}
